**/Module1.aux
**/Module1.fdb_latexmk
**/Module1.fls
**/Module1.log
**/Module1.pdf
**/Module1.synctex.gz

**/ProblemSet1.aux
**/ProblemSet1.fdb_latexmk
**/ProblemSet1.fls
**/ProblemSet1.log
**/ProblemSet1.pdf
**/ProblemSet1.synctex.gz